#bio p span {
  width: 50%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

#campaign .content p  {
  padding: 10px;
  font-weight: 500;
  line-height: 32px;
}

#campaign .campaign-pointer {
  /* cursor: pointer; */
  display: block;
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
}

#youtube  {
  width: 70%;
  margin-left: 15%;
  /* height: 100%; */
}

.logo img {
  height: 40px;
}

/* .main-nav .logo i {
  display: block;
  margin-left: 15px;
   margin-top: 25px; 
  font-size: 30px;
  color: #4E47DE;
   text-align: center; 
} */

.nav2 a{
  font-size: 24px;
  line-height: 32px;
  color: #5c54e0;
}

@media (min-width: 992px) {

  .nav2 {
    display: none;
  }
}


@media (max-width: 991px) {
  .nav2 {
    /* float: left; */
margin-top: 27px;
/* margin-left: 0px; */
/* margin-right: 30px; */
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
/* position: relative; */
position: absolute;
left: 50%;
transform: translatex(-50%);
z-index: 999;
display: block;
  }
}